.Name{
    border-width: 1px;
    border-radius: 10px;
    padding: 8px;
    transition: padding .3s;
}
.Name:hover{
    padding: 20px;
}

.Text{
    border-width: 1px;
    border-radius: 10px;
    padding: 8px;
    transition: padding .3s;

}

.Text:hover{
    padding: 20px;
}
.Date{
    border-width: 1px;
    border-radius: 10px;
    padding: 8px;
    transition: padding .3s;
}

.Date:hover{
    padding: 20px;
}

.b1{
    border: none;
    border-width: 1px;
    border-radius: 15px;
    padding: 10px;
    background:rgb(164, 223, 55);
    color: rgb(0, 0, 0);
    font-weight: bold;

}
.b1:active{
    opacity: 50%;
   
}.b2{
    border: none;
    border-width: 1px;
    border-radius: 15px;
    padding: 10px;
    background: rgb(24, 215, 248);
    color: white;
    font-weight: bold;
    margin-left: 1%;

}